*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
}

[class*="col"]{
    padding: 10px;
}