*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
     background-color: black;
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width: 100%;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 33.33%;
}

.col-4{
    width: 25%;
}

.col-5{
    width: 20%;
}

.col-6{
    width: 16.66%;
}

.col-7{
    width: 65%;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.ri-circle-fill{
    color: green;
}

.section2{
    background-color: rgb(30, 30, 46);
}

p{
    font-size: 20px;
}

.photo{
    height: 400px;
    width: 500px;
}

.about-me{
    height: 50px;
    width: 110px;
    border-radius: 30px;
    background-color: rgb(105, 105, 116);
    font-size: 20px;
    text-align: center;
}
 .photo-2{ 
    
}

.line-hight{
    line-height: 1.6;
}

