*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
}

.height{
    height: 50vh;
}
.height-1{
    height: 60vh;
}